body, html {
  text-align: center;
  font-family: Gotham, Helvetica, Arial, sans-serif;
  font-size: 1em;
}

#wrapper{
  width: 100%;
  max-width: 960px;
  margin: auto;
}

section, p {
  width: 50%;
  margin: auto;
  color: #ff8641;
}

h1 {
  font-size: 2em;
  color: #7b7d70;
}

h2 {
  font-size: 1.5em;
  color: #4eafb8;
}

/*---- COOL NEXT TABLETS----*/

@media (min-width: 768px) {
  section, p {
    color: #7b8f8e;
    width: 50%;
  }
}

h1 {
  color: #02cbd2;
  font-size: 2em;
}

h2 {
  color: #fcc02a;
  font-size: 1.5em;
 }
}


/*---- NOW DESKTOP----*/

@media (min-widt: 1200px) {
  section, p {
    color: #c19e74;
    width: 50%;
  }


    h1 {
      color: #6e4b61;
      font-size: 2em;
    }

    h2 {
      color: #cabd61;
      font-size: 1.5em;
    }
  }
}
